#scroll4_column-1 {
  margin-right: 20px;
}

#scroll4_column-2 {
  margin-right: 20px;
}

#date-time-project-form {
  margin-bottom: 9px;
  font-size: 11px;
}

#scroll4_column-2-paragraph {
  margin-bottom: 9px;
  font-size: 14px;
}

#scroll4_column-3-paragraph {
  margin-bottom: 9px;
  font-size: 11px;
}

.d-sm-flex.d-md-flex.d-lg-flex.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.rating {
  margin-bottom: 17px;
}

