#log-in {
  background-color: rgba(241,247,252,0);
}

#Welcome_Back {
  color: rgb(0,0,0);
  width: 269px;
  margin-right: 9px;
  margin-left: -12px;
}

#login_button {
  border-radius: 50px;
  width: 89px;
}

