#stat_column {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("projects (1).gif");
}

#stat_column {
  width: 240px;
  height: 240px;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

#stat_column {
  background-image: url("users (1).gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#stat_column {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 500px;
  background-image: url("projects (1).gif");
  height: 240px;
  width: 240px;
}

#scroll2 {
  background-size: contain;
  background-position: center;
}

#scroll2 {
  width: 99%;
  height: 100vh;
}

#stat {
  border-radius: 30px;
  background-color: rgba(255,255,255,0.56);
  margin-top: 82px;
}

.text-center.d-sm-flex.d-lg-flex.justify-content-sm-center.align-items-sm-center.justify-content-lg-center {
  font-family: Montserrat, sans-serif;
  font-size: 41px;
}

#stat_div {
  margin-top: 127px;
}

#stat_div {
  width: 100%;
}

