#sign-up {
  background-color: rgba(241,247,252,0);
}

#welcome {
  color: rgb(0,0,0);
}

#password_input {
  margin-top: 16px;
}

#signup {
  width: 89px;
  border-radius: 20px;
}

#given_rating {
  font-size: 30px;
}

